<div class="container add-AP">
	<h2 class="sub-header">Add Access Points</h2>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="inputAPName" class="control-label col-xs-2">Acess Point Name</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputAPName" placeholder="Access Point Name">
				</div>
		</div>
		<div class="form-group">
			<label for="inputAPId" class="control-label col-xs-2">Acess Point Id</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputAPId" placeholder="Access Point Id">
				</div>
		</div>
		<div class="form-group">
			<label for="InputCampusName" class="control-label col-xs-2">Campus Name</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="InputCampusName" placeholder="Campus Name">
				</div>
		</div>
		<div class="form-group">
			<label for="InputCampusCode" class="control-label col-xs-2">Campus Code</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="InputCampusCode" placeholder="Campus Code">
				</div>
		</div>
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<button type="submit" class="btn btn-primary">Add</button>
			</div>
		</div>
	</form>
</div>
